@model IEnumerable<IGrouping<Department, SalesRecord>>

@{
    ViewData["Title"] = "Grouping Search";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h2>@ViewData["Title"]</h2>

<nav class="navbar navbar-inverse bg-primary">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group d-flex flex-row mb-3 align-items-end">
                <div class="form-group p-2">
                    <label for="minDate">Min Date</label>
                    <input type="date" class="form-control" name="minDate" id="minDate" value=@ViewData["minDate"]>
                </div>
                <div class="form-group p-2">
                    <label for="maxDate">Max Date</label>
                    <input type="date" class="form-control" name="maxDate" id="maxDate" value=@ViewData["maxDate"]>
                </div>
                <div class="form-group p-2">
                    <button type="submit" class="btn btn-primary" id="filter-button">Filter</button>
                </div>
            </div>
            <div class="alert alert-dismissible alert-danger visually-hidden" id="alert-data-filter">              
                <strong>Invalid date!</strong> Modify values before filtering.
            </div>
        </form>
    </div>
</nav>

@foreach (var departmentGroup in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <hr />
            <h3 class="panel-title">Department <span class="text-info">@departmentGroup.Key.Name</span>, Total sales = <span class="text-success">@departmentGroup.Key.TotalSales(minDate, maxDate).ToString("F2")</span></h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="success">
                        <th>
                            Date
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Seller
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in departmentGroup)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Seller.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

